body {
    font-family: Times New Roman;
    font-size: 20px;
    background: #1c1c1c;
}


.contenedor {
    width: 99%;
}


h1 {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
}


.row {
    display: flex;
    padding: 5px;
    width: 100%;
}

.column {
    flex: 25%;
    padding: 5px;
}

    .column img {
        margin-top: 5px;
        width: 100%;
    }

.vol {
    width: 10%;
    height: 10%;
}

.boton {
    float: left;
    padding: 20px; /*espacio alrededor texto*/
    background-color: #bf2548; /*color botón*/
    color: #ffffff; /*color texto*/
    text-decoration: none; /*decoración texto*/
    text-transform: uppercase; /*capitalización texto*/
    border-radius: 1em;
}

    .boton:hover {
        background-color: #ff0000;
    }


@media screen and (max-width:655px) {


    .contenedor {
        width: 99%;
    }

    H1 {
        font-size: 40px;
    }

    .column img {
        width: 100%;
    }

    .boton {
        padding: 10px;
    }
}
