body {
    font-family: Times New Roman;
    font-size: 20px;
    background: linear-gradient(45deg, #ff00cc, #3333ff, #00ffcc, #ff00cc);
}


.contenedor {
    width: 99%;
}


h1 {
    color: #ffffff;
    text-align: center;
    font-size: 60px;
}


.row {
    display: flex;
    padding: 5px;
    width: 100%;
}

.column {
  flex: 25%;
 padding: 5px;
}

    .column img {
        margin-top: 5px;
        width: 100%;       
box-shadow: 0 10px 25px rgba(0,0,0,0.5);
border: 2.5px solid white;
        background-color: #111;

    }

.vol {
    width: 10%;
    height: 10%;
      margin-top:1em;
}

.boton {
    background: #D900D9;
 padding: 14px 28px;
 color: #ffffff;
 text-decoration: none;
 text-transform: uppercase;
 border-radius: 2rem;
 font-weight: bold;
 transition: 0.25s;
 display: inline-block;
 font-size: 1rem;
 box-shadow: 0 5px 12px black;
}

    .boton:hover {
        background: linear-gradient(135deg, #ff66ff, #cc66ff);
        transform: scale(1.05) skewX(-2deg);
        box-shadow: 0 0 25px #ff66ff;
    }


@media screen and (max-width:655px) {


    .contenedor {
        width: 99%;
    }

    H1 {
        font-size: 40px;
    }

    .column img {
        width: 100%;
    }

    .boton {
        padding: 10px;
    }
}
