* {
margin:0px;
padding:0px;
}

body {
}

.contenedor {
    background:
    
}

.caja1 {
    background:red;
}

.caja2 {
    background: green;
    float:left;
}

.caja3 {
    background: orange;
   float:right;
}
