/*WEB*/

body {
	font-family: Arial;
	font-size: 20px;
	width:100% ;
	height: 100%;
	
	
}



.contenedor
{
  display:flex;
 flex-flow: column; /*para bajar los div*/
 justify-content: space-between;
 padding: 10px; 
 
 
 
}

.elemento{
	/*  aqui se modifican los espacios entre div   */
    width: 100%; /*para moviles */
    height: 100%; /*tamaÃ±a de div*/
    margin-top: 0.5em; /* separa los div de distancia*/
   
    
}



  #header
  {
    width: 100%;
    height: 100%;

	
  }


/*nav*/


.drop-down-button
{	
  background-color: #0055ff;
  color: white;
  padding: 10px;
  font-size: 14px;
  border: none;
  cursor: pointer;
}

.nav
{
    background:#0055ff;
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.nav h1
{
    color:white;
    font-size: 24px;
    letter-spacing: 0.5rem;
    
}


.drop-down-menu drop-down-button
{
    color:white;
    font-size: 16px;
    outline: none;
    padding: 1rem 1rem;
    background-color: #0055ff;
}

.drop-down-menu-content
{
    display: none;
    position: absolute;
    background-color: #0055ff;
    min-width: 8rem;
    box-shadow: 0.2rem 1rem rgba(0.0.00.1);
    z-index: 1;    
    
}

.drop-down-menu-content li
{
    float: none;
    color:white;
    padding: 1rem 1rem;
    display: block;
    list-style: none;
    
}

.drop-down-menu-content li:hover
{
     background: #ef8354;  
    
}

.drop-down-menu:hover  .drop-down-menu-content
{
    
    display: block;
    
}

.nav ul
{
    display: flex;
    color: white;
    font-size: 14px;
    padding: 1rem 1rem;
}


.drawer
{

  font-size: 1rem;
  color: white;
  float: left;
  cursor: pointer;
  display: none;
  margin-left: 1rem;
  border: solid .1rem #cc3300;
  padding: .2rem;
  border-radius: .1rem;
}


#ckbox
{
    display: none;
    
}



/* --- --- CAROUSEL --- --- */






/*contenido*/

#contenido
{
	width:100%;
	height:100% ;
	margin-top:1em;
	
	
}

/* tabla*/

#tabla
{
	width: 73%;
	height: auto;
	float: left;
	
	
}

/*aside*/

#aside
{
	width: 23%;
	height: auto;
	float: right;
	margin-right:0.5em;
	
}

.widget{
	display: inline-block;
	width: 94%;
	height: 100%;
	margin-left:0.5em;
	
	
}

.widget > h4
{
	color: #ffffff;
	background: #0055ff;
	width: 100%;
	text-align: center;
	padding: 10px 0px;
	margin-bottom: 10px;
	border-radius: 0.5em;
}


.widget > h5
{
	color:#0055ff;
	font-size:20px;
		
}


.widget img{
	width: 170px;
	height: 120px;
	max-width:80%;	
}





/*Footer*/

#footer{
	
	width: 100%;
	border-radius: 1em;
	margin-top:1em;
	background:red;
	
}

.acerca-de{
	width: 99%;
	float: left;
	text-align: justify;
	
}



.acerca-de  > p
{
	color: #0055ff;
	text-align: justify;


}


/*Boton*/

.boton
{
	text-decoration: none;
	display: inline-block;
}

.btn.prin
{
	color:#0055ff;
}

	.btn:hover
	{
		background-color: #ef8354;
		
	}


.button:active
{
	background-color: #ef8354;
}




@media screen and (max-width:655px)
{
	body{
		width: 99%;
		font-size: 18px;
		
	}
	
	
	.contenedor{
		width: 98%;
		
	}
	
	.contenido
	{
		margin-top:10px;
	}
	

		#header
	{
		width: 99%;
		padding:0px 50px;
		
		

	}

	/*nav*/
	

        #nav
	{
	justify-content: flex-start;
                

	}
        
        
        .drawer
        {
          display: block;  
            
        }
        
        .drop-down-menu-content
        {
            width: 100%;
            
        }
	
        
        .nav h1
        {
           
            font-size: 2rem;
            letter-spacing: 1rem;
        }
        
        /* desaparecen los menu*/
        
        ul
        {
            position: fixed;
            width: 35%;
            height: 100%;
            background-color: #0055ff;
            top:10vh;
            left: -100%; 
            text-align: left;
            transition: all .5s;
            display: flex;
            flex-direction: column;
            align-content: stretch;
           
        }
        
       #ckbox:checked ~ .menu-box
       {
           left: 27px;
           
       }
	
          /*Carrusel*/

	.carousel__lista img
	{

		width: 700px;
		height: 200px;
		object-fit: cover;
		text-align: center;
	}
	
	.carousel__anterior,
    .carousel__siguiente
	{
		top: 200px;
		
		
	}
  
    .carousel__anterior {
	left: -8px;
    }

    .carousel__siguiente {
	right: -14px;

    }
	

	
	/*tabla*/



  #contenido
  {
	width: 100%;
	height: auto;
  }

   #tabla
  {
	width: 72%;
	height: auto;

  }

   #aside
  {
	width: 25%;
	height: auto;
	
  }

	.widget > h4
	{
		width:90%;
		font-size: 8px;
	}
	.widget > h5
	{
		font-size: 12px;

	}

    .widget img{
	width: 100px;
	height: 100px;
	max-width: 80%;
    }

 /*footer*/
 
	#footer
	{
		width: 98%;
	}

	.acerca-de p
	{
		font-size: 14px;

	}

}




/*


/*
#contenido article {
	float: left;
	margin-bottom: 20px;
}

#contenido article .titulo {
	
	font-size: 22px;
	font-family: sourcesans;
	color: #0055ff;
}

#contenido article .fecha {
	font-size: 14px;
	color: #0055ff;
	margin-bottom: 7px;
}

#contenido article .thumb {
	width: 220px;
	height: 150px;
	float: left;
	margin: 0px 10px 10px 0px;
	padding: 1m;
}

#contenido article > p {
	color: #0055ff;
	font-size: 16px;
	text-align: justify;
	margin: 1em;
}
*/



